<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NCDataMatch.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=172.16.1.108:1521/NCDATA;PASSWORD=NC65;PERSIST SECURITY INFO=True;USER ID=NC65"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>